<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FundEd - Your Path to Financial Freedom</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!--Page-->
  <div class="container">
    <div class="nav-container">
      <a class="nav-logo" href="/"><img src="../static/logo.png" alt="logo"></a>
      <a class="nav-item" href="/#about"> About </a>
      <a class="nav-item" href="/login"> Log In </a>
      <a class="nav-item" href="/createAccount"> Create Account </a>
    </div>
    <div class="filler-container"></div>
    <div class="content-container welcome-container">
      <p>
        ERROR: RETURN TO LOGIN
      </p>
    </div>
  </div>
</body>
</html>
