<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FundEd - Your Path to Financial Freedom</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!--Page-->
  <div class="container">
    <div class="nav-container">
      <a class="nav-logo" href="/"><img src="../static/logo.png" alt="logo"></a>
      <a class="nav-item" href="/#about"> About </a>
      <a class="nav-item" href="/login"> Log In </a>
      <a class="nav-item" href="/createAccount"> Create Account </a>
    </div>
    <div class="filler-container"></div>
    <div class="content-container welcome-container">
      <img class="welcome-image" src="../static/logo.png" alt="welcome">
      <img class="welcome-image" src="../static/logo.png" alt="welcome">
      <img class="welcome-image" src="../static/logo.png" alt="welcome">
      <img class="welcome-image" src="../static/logo.png" alt="welcome">
      <img class="welcome-image" src="../static/logo.png" alt="welcome">
    </div>
    <div class="content-container" id="about">
      <h2 class="content-title">
        About
      </h2>
      <div class="content-list">
        <div class="content-nav">
          <button class="content-nav-item" onclick="changeClassService()"> Services </button>
          <button class="content-nav-item" onclick="changeClassMission()"> Mission </button>
          <button class="content-nav-item" onclick="changeClassDebt()"> Debt Administration </button>
        </div>
        <div class="content-item-container"">
          <div class="content-item lower-item" id="content-item-1">
            <h3 class="content-item-title">
              Services
            </h3>
            <p class="content-item-description">
              FundEd, we specialize in providing consulting services to help students effectively manage their student loans. Our expert advisors offer tailored strategies for loan repayment, consolidation, and refinancing to minimize financial stress and maximize savings. We guide you through every step, from understanding loan terms to developing a sustainable repayment plan, ensuring you can focus on your education and future while managing financial uncertainty.
            </p> 
          </div>
          <div class="content-item top-item" id="content-item-2">
            <h3 class="content-item-title">
              Mission 
            </h3>
            <p class="content-item-description" >
              Student debt has become a significant burden for many students and recent graduates. Rising tuition costs, living expenses, and the increasing necessity of higher education have led to more students taking out loans to finance their studies. In many countries, especially in the United States, the average student graduates with tens of thousands of dollars in debt. This debt can impact their financial stability, career choices, and life decisions long after graduation. In turn, FundEd has brought it upon itself to combat student loans via educating students.
            </p>
          </div>
          <div class="content-item lower-item" id="content-item-3">
            <h3 class="content-item-title">
              Debt Administration
            </h3>
            <p class="content-item-description">
              There are two main types of loans: Fixed Plans and Income-Driven Repayment. fixed repayment plans, including Standard, Graduated, and Extended, provide predictable, structured payments over a set period, ensuring loans are repaid within a defined timeframe. In contrast, income-driven repayment plans adjust monthly payments based on the borrower's income and family size, offering flexibility and potentially lower payments for those with limited financial resources. Understanding the differences between these plans can help borrowers choose the best strategy for managing their student loan debt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/script.js"></script>
  
  <img src="./static/FundEd1.gif" style="width:1550px;height= auto; alt="Gift image">
</body>
</html>
